<!doctype html>
<html>
	<head>
		{% include "nonpage/htmlhead.html.jinja" %}
		{% block head %}
		{% endblock %}
	</head>
	<body>
		{% include "nonpage/header.html.jinja" %}
		{% block content %}
		{% endblock %}
	</body>
</html>