{% macro removeWordButton(curWord = {'_id': ''}) %}
	<div id="removewordbuttoncontainer-{{ curWord['_id'] }}" class="editoptionstoggled" hidden="hidden">
		<div onclick="removeWordButton('{{ curWord['_id'] }}')" class="actionbutton backgroundandbordered removewordbutton">
			Remove word from list
		</div>
	</div>
{% endmacro %}

{% macro displayGraph(graphId, givenDatasets) %}
	<canvas id="{{ graphId }}"></canvas>
	<script>
		{
			let data = {
				datasets: {{ givenDatasets | tojson }}
			};

			let config = {
				type: 'line',
				data: data,
				options: {
					elements: {
						point:{
							radius: 0,
						}
					},
					scales: {
						x: {
							type: 'time',
							parsing: false,
						},
					},
					plugins: {
						legend: {
							display: false,
						},
						tooltip: {
							enabled: false,
						}
					}
				}
			};
			
			let newGraph = new Chart(document.getElementById("{{ graphId }}"), config);
		}
	</script>
{% endmacro %}

{% macro strengthGraph(strengthDatas, graphId, lineLabel = 'Strength', lineColor = 'rgba(255, 0, 0, 0.05') %}
	{% set formattedDatas = [] %}
	{% for curData in strengthDatas %}
		{% set dummy = formattedDatas.append({'label': lineLabel, 'borderColor': lineColor, 'data': curData}) %}
	{% endfor %}
	{{ displayGraph(graphId, formattedDatas) }}
{% endmacro %}

{% macro wordData(wordDoc, userWordData = None, hyperlinkWord = True) %}
	{% if userWordData == None %}
		{{ wordDoc['_id'] }} / {{ wordDoc['traditional'] }} - {{ wordDoc['pinyin'] }} - {{ wordDoc['english'] }}
	{% else %}
		{% if hyperlinkWord %}
			<a href="/word/{{ wordDoc['_id'] }}">{{ wordDoc['_id'] }}</a> - {{ wordDoc['pinyin'] }} - {{ wordDoc['english'] }}
		{% else %}
			{{ wordDoc['_id'] }} - {{ wordDoc['pinyin'] }} - {{ wordDoc['english'] }}
		{% endif %}
		<br><br>Word strength:
		{% set testTypes = {'draw': 'red', 'pronounce': 'red', 'define': 'red'} %}
		{% for testType in testTypes %}
			{% set testTypeColor = 'red' %}
			{% if userWordData['wordstrength'][testType] >= 7 %}
				{% set testTypeColor = 'orange' %}
			{% endif %}
			{% if userWordData['wordstrength'][testType] >= 13 %}
				{% set testTypeColor = 'green' %}
			{% endif %}
			<br>{{ testType.capitalize() }}:
			<span style = "font-weight: bold; float: right; color: {{ testTypeColor }}">
				{{ userWordData['wordstrength'][testType] | int }}
			</span>
		{% endfor %}
	{% endif %}
{% endmacro %}
