{% extends "nonpage/layout.html.jinja" %}
{% block content %}
	<div class = "centered">
		<div class = "backgroundandbordered smallmargin smallpadding">
			Queue:
			<br>
			{% for curWord in flaskData['queueWords'] %}
				<div class = "backgroundandbordered smallmargin smallpadding smallfont" style="width: 256px; height: 256px; display: inline-block;">
					<a href="/word/{{ curWord['simplified'] }}">{{ curWord['simplified'] }}</a>
					<br>{{ curWord['testtype'].capitalize() }}
					<br>{{ curWord['readabledue'] }}
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}