{% extends "nonpage/layout.html.jinja" %}
{% from "nonpage/macros.html.jinja" import wordData %}
{% block content %}
	<div class = "centered">
		<div class = "backgroundandbordered smallmargin smallpadding">
			{{ wordData(wordDoc, userWordData, hyperlinkWord = False) }}
		</div>
	</div>
	<!-- add simplified/traditional "same" notice + current user word data.
	probably also macro-ize so that this can be embedded elsewhere -->
{% endblock %}